@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-rounded {
    @apply my-2 form-input block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
  }

  .btn-cv {
    @apply bg-indigo-500 text-white w-full py-3 rounded-md font-semibold hover:bg-indigo-600;
  }
  .checkbox {
    @apply rounded
    border-gray-300
    text-indigo-600
      shadow-sm
    focus:border-indigo-300
      focus:ring
      focus:ring-offset-0
      focus:ring-indigo-200
      focus:ring-opacity-50;
  }
  .gradient-purple-pink-red {
    @apply bg-gradient-to-r;
    @apply from-purple-400 via-pink-500 to-red-500;
  }
  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }

  /* Class for element with animation */
  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
