@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-rounded {
    @apply my-2 form-input block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
  }

  .btn-cv {
    @apply bg-indigo-500 text-white w-full py-3 rounded-md font-semibold hover:bg-indigo-600;
  }
  .checkbox {
    @apply rounded
    border-gray-300
    text-indigo-600
      shadow-sm
    focus:border-indigo-300
      focus:ring
      focus:ring-offset-0
      focus:ring-indigo-200
      focus:ring-opacity-50;
  }
}
